*{
    margin: 0px;
}
body{
    background-image: url("images/background12.png");
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
}
.flex-container{
    display: flex;
    justify-content: center;
    padding: 0 15%;
}
.header{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    color: #d1cfd0;
}
#checkout{
    text-decoration:solid;
    color: black;
}
.header a{
    padding:0px 10px 10px 10px;
    color: #acabab;
}
.nav-menu{
    border: 1px solid #d9d7d8;
    padding: 1px 0px;
    word-spacing: -3px;
    border-left: 0px;
    border-right: 0px;
    box-sizing: content-box;
}
.nav-menu a{
    padding: 8px 18px;
    word-spacing: normal;
    font-size: small;
    color: #555452;
    border-right: 1px solid white;
}
.nav-menu-bg{
    display: flex;
    background-color: #d9d7d8;
}
#header-last{
    padding-right: 0px;
}
.search{
    display: inline-flex;
    padding: 6px 10px;
    word-spacing: normal;
    font-size: small;
    background-color: #d9d7d8;
    color: #555452;
    align-items: center;
}
.search-box{
    border-left-color:#9c9a9a;
    border-top-color: #9c9a9a;
    border-bottom-color: white;
    border-right-color: white;
    height: 12px;
}
.search-button{
    height: 14px;
    box-sizing: content-box;
}
#firstMenuItem{
    padding-left: 16%;
}
#lastMenuItem{
    padding-left: 45px;
    padding-right: 15%;
}
.tags{
    display: flex;
    color: rgba(0, 0, 0, 0.548);
    padding: 0px 15%;
    font-size: small;
    justify-content: space-between;
    align-items: center;
}
.tags section{
    display: flex;
    align-items: center;
}
.bridal-registry{
    padding-right: 4%;
}
.line{
    background-color: #e2dfdf;
    height: 2px;
    border: 0px none;
}
.central-content{
    flex-direction: column;
}
.tile-1{
    background-color: white;
    padding: 9px;
    display: flex;
    width: 99%;
    justify-content: space-evenly;
}
.tile-1 img{
    height: auto;
    width: 72%;
}
.outer-wrapper{
    margin-left: 9px;
    padding: 4px;
    width: 250px;
    box-sizing: content-box;
    background-color: #302f2d;
}
.inner-wrapper{
    border: 1px solid #555452;
    color: #8c8a8b;
    height: 90%;
    font-size: small;
    padding: 25px 10px 10px 15px;
}
.inner-wrapper b{
    display: block;
    border-bottom: 1px solid #8c8a8b;
    padding: 5px;
    color: #d1cfd0;
    font-weight: normal;
}
.service{
    padding-left: 5px;
}
#lastTag{
    border: none;
}
.inner-wrapper a{
    color: #8c8a8b;
    padding-left: 5px;
    text-decoration: underline;
}
span.heading{
    font-size: x-large;
    color: #d1cfd0;
}
.tile-2{
    border: 9px solid #2f2e2c;
    color: #9c9a9a;
    font-size: small;
    width: 99%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.tile-2 span{
    font-size: medium;
    color: #3f3f3f;
}
.tile-2 a{
    color: #3f3f3f;
}
.tile-2-1{
    width: 288px;
}
.tile-2-2{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 317px;
}
.tile-2-3{
    display: flex;
    justify-content: end;
    width: 290px;
}
.tile-2-1-text{
    position: absolute;
    padding-right: 20px;
    border-right: 2px solid;
    border-color:#e2dfdf;
    height: 140px;
    margin-top: 8px;
    margin-left: 8px;
}
.tile-2-2-text{
    position: absolute;
    padding-right: 10px;
    border-right: 2px solid;
    border-color:#e2dfdf;
    height: 135px;
    margin-bottom: 13px;
    margin-left: 8px;
}
.tile-2-3-text{
    position: absolute;
    margin-right: 150px;
    margin-top: 8px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: smaller;
    line-height: 10px;
    width: 100%;
    color: #8e8c8d;
}
.footer a{
    text-decoration: underline;
    color: #8e8c8d;
}
.input{
    width: 60%;
}